
@import url('./__card/moodboard__card.css');
@import url('./__card/__cover/card__cover.css');
@import url('./__card/__cover/__wrap/card__like-wrap.css');
@import url('./__card/__cover/__like-icon/card__like-icon.css');
@import url('./__card/__cover/__descr/card__descr.css');
@import url('./__card/__cover/__descr/__tags/card__tags.css');



.moodboard {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,400px);
    grid-gap: 60px 60px;
    justify-content: center;
    padding-top: 60px;
    background: #222431;
}




