{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/prefer-stateless-function": [0, { "ignorePureComponents": true }],
    "react/prop-types": 0,
    "comma-dangle": 0,
    "control-has-associated-label" : 0,
    "anchor-is-valid": 0,
    "anchor-has-content": 0,
    "import/no-named-as-default": 0,
    "import/extensions" : 0
  }
}