.card__like-icon {
	width: 26px;
	height: 26px;
	background: url(../../../../../images/l.png);
	background-size: contain;
	background-repeat: no-repeat;
	transition: 0.15s all;
	transition-delay: 0.1s;
	opacity: 0;
	transform: scale(0.8);
	cursor: pointer;
}