@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/header/header.css);
@import url(../blocks/searchbox/searchbox.css);
@import url(../blocks/moodboard/moodboard.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/popup/popup.css);

body {
	color: #ffffff;
	background-color:#1B1D28;
	}

.page {
	max-width: 1440px;
	margin-top: 30px;
	margin: auto;
	font-size: 14px;

  }	
  
  .bg-color {
    background-color:#1b1d28; 
  }

a {
	text-decoration: none;
	padding: 0px;
	margin: 0px;
	}

h1 {
	padding: 0;
	margin: 0;
	font-weight: normal;
	}

h2 {
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-family: RobotoSlab,serif;
	}

h3 {
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-family: RobotoSlab,serif;
	}

p {
	padding: 0;
	margin: 0;
	}

form{
	padding: 0;
	margin: 0;
	}

button {
	border: 0;
	padding: 0;
	margin: 0;
	}

ul {
	display: block;
	padding: 0;
	margin: 0;
	}

li {
	display: block;
	padding: 0;
	margin: 0;
	color: #1a1b22;
	}

.error_text {
	color: red;
	}

	
button, 
button:active, 
button:focus {
    outline: none;
}