@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

@import url(../blocks/header/header.css);
@import url(../blocks/searchbox/searchbox.css);
@import url(../blocks/moodboard/moodboard.css);
@import url(../blocks/footer/footer.css);

body {
	color: #ffffff;
	//background-color: #f6f5f3; 
	background-color:#f3f5f7;
	}

.page {
	font-family:'Roboto';
	max-width: 1440px;
	margin-top: 30px;
	margin: auto;
	font-size: 14px;
	background-color:#f3f5f7; 
	}	

	.header {
		font-size: 25px;
	}

@media (max-width: 320px) {
	.page {
		padding: 0;
		}
	} 

@media (min-width: 321px) and (max-width: 768px) {
	.page {
		padding: 0;
		}
	}

a {
	text-decoration: none;
	padding: 0px;
	margin: 0px;
	}

h1 {
	padding: 0;
	margin: 0;
	font-weight: normal;
	}

h2 {
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-family: RobotoSlab,serif;
	}

h3 {
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-family: RobotoSlab,serif;
	}

p {
	padding: 0;
	margin: 0;
	}

form{
	padding: 0;
	margin: 0;
	}

button {
	border: 0;
	padding: 0;
	margin: 0;
	}

ul {
	display: block;
	padding: 0;
	margin: 0;
	}

li {
	display: block;
	padding: 0;
	margin: 0;
	color: #1a1b22;
	}

.error_text {
	color: red;
	}

	
button, 
button:active, 
button:focus {
    outline: none;
}