@import url('./__inputcont_one/__field/search__field.css');
@import url('./__inputcont_one/__text/search__text.css');
@import url('./__inputcont_one/__title/search__title.css');
@import url('./__inputcont_one/input__style.css');

.searchbox {
  background-image: url('../../images/43.jpg');
  background-size: cover;
  background-position: center;
}

#btnstyle {
  width: 200px;
}