.search__field_input{
    width: 440px;
    background: #fff;
    padding-left: 30px;
    font-family: Montserrat,sans-serif;
    outline: none;
    box-sizing: border-box;
    border: 0;
}

@media (max-width: 320px) {
    .search__field_input{
		max-width: 288px;
		height: 56px;
    }
} 

@media (min-width: 321px) and (max-width: 768px) {
    .search__field_input{
       
    }
} 


