.search__title {
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #F3F5FF;
}

@media (max-width: 320px) {
    .search__title{
		max-width: 285px;
		font-size: 36px;
		margin-top: 30px;
    }
} 

@media (min-width: 321px) and (max-width: 768px) {
    .search__title{
        max-width: 385px;
        font-size: 36px;
        margin-top: 40px;
    }
} 