<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="Author" content="Хайруллина Резеда">
	<title> Mood Box </title>

	<link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
</head>

<body>
	<div class="page">
		<header class="header">
			Hello! Catch a wave of mood!
		</header>
		<footer class="footer">
		</footer>
	</div>
	<script src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>
</html>