.search__field_button {
  width: 230px;
  box-shadow: 0 5px 15px rgba(14,26,57,.2);
  color: #f3f5ff;
  font-family: Montserrat,sans-serif;
  outline: none;
  background:#E64A19;
  border: 0;
}

.search__field_button:hover {
  cursor: pointer;
  background: #DA3B01 ;
  transition: all 0.3s ease-in-out;
}

.search__field_button:active {
  color: #fff;
  cursor: pointer;
}


@media (max-width: 320px) {
  .search__field_button{
   width: 288px;
   height: 56px;
   margin-top: 16px;
 }
} 

.error {
  margin-top: 10px;
  width: 570px;
  border-radius: 100px;
}

.search__field_button_disabled {
  background: #8b8785;
  pointer-events: none;
}

.button-wrap {
  display: flex;
}

.button-txt {
  color: #f3f5ff;
  background-color: red;
}